node_modules
dist
examples/
examples/**/node_modules/
examples/**/dist/
examples/**/build/
examples/**/.env
examples/**/prisma/dev.db
examples/**/prisma/migrations/
examples/**/prisma/schema.prisma
.env
prisma/generated/prisma/client
/generated/prisma
